@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $alata;
}

.container {
  padding: 0 2rem;
  @include breakpoint-up(medium) {
    padding: 0 10.313rem !important;
  }
}
